/******************************************************************
Stylesheet: 通常ディスプレイサイズ
******************************************************************/

.header{

  &__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title{
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: start;
    white-space: nowrap;
  }

  &__ul{
    flex: 1;
    justify-content: space-between;
    margin: 0;
  }

  &__li{
    padding: 0 10px;
  }

  &__hero-mobile{
    display: none;
  }

  &__hero-desktop{
    display: inline-block;
  }

  &__img{
    width: 100%;
  }
}

.about{

  &__title{
    margin-bottom: 40px;
  }

  &__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img{
    position: relative;
    width: 50%;
    margin-right: 10px;

    & > img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  &__texts{
    width: 50%;
    margin-left: 10px;
  }
}

.contents{
  &__inner{
    display: flex;
    flex-direction: row;
  }

  &__beginner{
    margin-right: 20px; 
  }

  &__intermediate{
    margin: 0 20px 0 20px;
  }

  &__advanced{
    margin-left: 20px; 
  }
}

.inquiry{

  &__input{
    width: 50%;
  }

  &__button{
    width: 35%;
  }
}

.footer{
  &__copyright{
    font-size: 12px;
    text-align: right;
  }
}