/******************************************************************
Stylesheet: 通常ディスプレイサイズ
******************************************************************/

.header{
  &__inner{
    display: flex;
    flex-direction: row;
  }
}