/******************************************************************
Stylesheet: ベーススタイル(スマホ)
******************************************************************/

//Font
.font-sm{
  font-size: 14px;
}
.font-md{
  font-size: 17px;
}
.font-lr{
  font-size: 17px;
}
.font-lg{
  font-size: 25x;
}

//margin,padding
.mb-sm{
  margin-bottom: 16px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}
.pb-sm{
  padding-bottom: 16px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

.content-width{
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title{
  @extend .font-sm;
  color: $cSubTitle;
}

.header{
  @extend .mb-lg;

  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  &__title{
    text-align: center;
    margin-top: 20px;
  }

  &__ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 10px 40px;
  }
  
  &__li{
    font-weight: 300;
    text-align: center;
    flex: 1;

  }

  &__hero{
    position: relative;
    left: 0;
    top: 0;
    height: 630px;
    overflow: hidden;

    & > .t-top{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    & > .t-middle{
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    & > .t-bottom{
      position: absolute;
      top: 44%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    & > .p-top{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    & > .p-bottom{
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }
}

.about{
  @extend .content-width;
  @extend .mb-lg;
  
  &__title{
    @extend .mb-sm;
    text-align: center;
  }

  &__img{
    @extend .mb-sm;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.contents{
  @extend .content-width;
  @extend .mb-lg;

  &__title{
    @extend .mb-sm;
    text-align: center;
  }

  &__img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.inquiry{
  @extend .content-width;
  @extend .mb-lg;

  &__title{
    @extend .mb-sm;
    text-align: center;
  }

  &__p{
    text-align: center;
  }

  &__input{
    @extend .mb-sm;

    margin: 0 auto;
    display: block;
    border: 3px solid $cBgGray;
    width: 100%;
    padding-top: 15px; 
    padding-bottom: 15px;
    border-radius: 50px;
    
  }

  &__button{
    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: $clightRed;
    border: none;
    border-radius: 5px;
    color: $cWhite;
    font-size: 1.3rem;
  }
}

.footer{
  @extend .content-width;

  &__copyright{
    font-size: 10px;
    text-align: center;
    border-top: 2px solid $cBgGray;
    padding-top: 18px; 
  }
}