@charset "UTF-8";
/******************************************************************
Stylesheet: ベーススタイル(スマホ)
******************************************************************/
.font-sm, .sub-title {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .main-title {
  font-size: 25x;
}

.mb-sm, .about__title, .about__img, .contents__title, .inquiry__title, .inquiry__input {
  margin-bottom: 16px !important;
}

.mb-lg, .header, .about, .contents, .inquiry {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .about, .contents, .inquiry, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  color: #535353;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.header__title {
  text-align: center;
  margin-top: 20px;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 10px 40px;
}

.header__li {
  font-weight: 300;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__hero {
  position: relative;
  left: 0;
  top: 0;
  height: 630px;
  overflow: hidden;
}

.header__hero > .t-top {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.header__hero > .t-middle {
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.header__hero > .t-bottom {
  position: absolute;
  top: 44%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.header__hero > .p-top {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.header__hero > .p-bottom {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.about__title {
  text-align: center;
}

.about__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.contents__title {
  text-align: center;
}

.contents__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.inquiry__title {
  text-align: center;
}

.inquiry__p {
  text-align: center;
}

.inquiry__input {
  margin: 0 auto;
  display: block;
  border: 3px solid #eaebe6;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
}

.inquiry__button {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f76a5b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
}

.footer__copyright {
  font-size: 10px;
  text-align: center;
  border-top: 2px solid #eaebe6;
  padding-top: 18px;
}

@media (min-width: 600px) {
  /******************************************************************
Stylesheet: 通常ディスプレイサイズ
******************************************************************/
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用（pc用）

******************************************************************/
  .font-sm, .sub-title {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg, .main-title {
    font-size: 36px;
  }
  .mb-lg, .header, .about, .contents, .inquiry {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
}
/*# sourceMappingURL=style.css.map */